{% extends "base.html" %} 

{% block page_name %}
    Home
{% endblock page_name %}

{% block main_page %}

    {% include "partials/header.html" %}

    {% for room in lastset_rooms %}
        <h1>{{room}}</h1>
    {% endfor %} 

    <h5>
        {% if page.has_previous %}
            <a href="?page={{page.previous_page_number}}">이전 페이지</a>
        {% endif %}
            
        {% for page in page.paginator.page_range %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}
        
        {% if page.has_next  %}
            <a href="?page={{page.next_page_number}}">다음 페이지</a>
        {% endif %}
    </h5>

    

    {% include "partials/footer.html" %}

{% endblock main_page %}
