{% extends "base.html" %} 

{% block page_name %}
    Home
{% endblock page_name %}

{% block main_page %}

    {% include "partials/header.html" %}

    {% for room in rooms %}
        <h1>{{room.title}} / {{room.creater}}</h1>
    {% endfor %} 

    <h5>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">이전</a>
        {% endif %}
            
        {% for page in page_obj.paginator.page_range %}
            <a href="?page={{page}}">{{page}}</a>
        {% endfor %}
        
        {% if page_obj.has_next  %}
            <a href="?page={{page_obj.next_page_number}}">다음</a>
        {% endif %}
    </h5>

    

    {% include "partials/footer.html" %}

{% endblock main_page %}
