{% extends "base.html" %} 

{% block page_title %}
    Home
{% endblock page_title %}

{% block main_page %}
    
    {% for room in rooms %}
        <div class="room_list_base">
            {% include "mixins/room_card.html" with room=room %}
        </div>
    {% endfor %} 
    
    <div class="my-5 font-semibold justify-center">
        <!-- 이전 버튼-->
        {% if page_obj.has_previous %}
            <a class="nav" href="?page={{page_obj.previous_page_number}}">
                <i class="fas fa-angle-left fa-lg"></i>
            </a>
        {% endif %}

        <!-- 현재 페이지 -->
        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <a class="nav font-extrabold" href="?page={{page}}">{{page}}</a>
            {% else %}
                <a class="nav" href="?page={{page}}">{{page}}</a>
                {% endif %}
            {% endfor %}
        
        <!-- 다음 버튼 -->
        {% if page_obj.has_next  %}
            <a class="nav" href="?page={{page_obj.next_page_number}}">
                <i class="fas fa-angle-right fa-lg"></i>
            </a>
        {% endif %}
    </div>

{% endblock main_page %}
