{% extends 'base.html' %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block main_page %}

    <form class="search border-b pb-7 border-pink-500 border-opacity-10" action="{% url 'rooms:search' %}" method="GET">
        {{form.as_p}}
        <div class="flex justify-end">
            <button class="btn">검색</button>
        </div>
    </form>
        
    {% for room in rooms %}
        <div class="room_list_base">
            {% include "mixins/room_card.html" with room=room %}
        </div>
    {% endfor %}

    
    

  
{% endblock main_page %}