<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block page_title %}{% endblock page_title %} | HONOKA
    </title>
  </head>
  <body>
    <header>
      {% block search-bar %}
      {% include "partials/nav.html" %}
      {% endblock search-bar %}
    </header>

    {% block main_page %}
    {% endblock main_page %} 
    
    {% include "partials/footer.html" %}
  </body>
</html>
