{% extends "base.html" %} 

{% block page_title %}
    Log In
{% endblock page_title %}

{% block main_page %}

    <form class="login" method="POST">
        {% csrf_token %}
        <p>
            <label for="id_email">Email</label>
            {{form.email}}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                  <span>{{error}}</span>
                {% endfor %}
            {% endif %}  
        </p>
        <p>
            <label for="id_password">password</label>
            {{form.password}}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                  <span>{{error}}</span>
                {% endfor %}
            {% endif %}  
        </p>
        <div class="flex justify-center">
            <button class="btn">로그인</button>
        </div>
    </form>

{% endblock main_page %}
