{% extends "base.html" %} 

{% block page_title %}
    Update Profile
{% endblock page_title %}

{% block main_page %}

    <form class="login" method="POST"">
        {% csrf_token %}
        <p>
            <label for="id_first_name">닉네임: </label>
            {{form.first_name}}
            {% if form.first_name.errors %}
                {% for error in form.first_name.error %}
                  <span>{{error}}</span>
                {% endfor %}
            {% endif %}  
        </p>
        <p class="flex justify-center">
            <button class="btn">수정</button>
        </p>
    </form>

{% endblock main_page %}
