{% extends "base.html" %} 

{% block page_title %}
    Update Profile
{% endblock page_title %}

{% block main_page %}

    <form class="login" method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
        <p>
            <label for="id_email">Email</label>
            {{form.email}}
            {% if form.email.errors %}
                {% for error in form.email.error %}
                  <span>{{error}}</span>
                {% endfor %}
            {% endif %}  
        </p>
        <div class="flex justify-center">
            <button class="btn">수정</button>
        </div>
    </form>

{% endblock main_page %}
